@import "styles/day.css";
@import "styles/loader.css";
@import "styles/modal.css";
@import "styles/navbar.css";
@import "styles/plan.css";
@import "styles/task.css";
@import "styles/week.css";

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
