.day-preview {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	height: 600px;
	width: 300px;
	min-width: 300px;

	.day-preview__tasks {
		display: flex;
		flex-direction: column;
		padding: 10px;
		gap: 10px;
		max-height: 100%;
		overflow: auto;
	}

	.day-preview__header {
		--elevation: 3;
		position: relative;
		bottom: -1px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		background-color: var(--sfc-03-color);
		box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
		-web-kit-box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
		-moz-box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
		color: var(--text-color);
		font-size: 1.2em;
		font-weight: 600;
		text-decoration: none;

		span {
			display: block;
		}
	}

	.day-preview__header:hover {
		background-color: var(--sfc-24-color);
	}

	.new-task-button {
		margin: 10px;
		margin-top: 0;
	}
}

.day-preview--today {
	.day-preview__header {
		background-color: var(--highlight-color);
	}

	.day-preview__header:hover {
		background-color: var(--sfc-24-color);
	}
}

#day {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: calc(100vh - 65px);
	width: calc(100vw - 50px);
	margin: 0 auto;
	padding: 10px;

	#day__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 30px;

		span:first-child {
			font-size: 1.2em;
			font-weight: 600;
		}
	}

	#day__body {
		flex-grow: 2;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 10px;
		width: 100%;
		overflow: auto;
		padding-bottom: 15px;

		.loader {
			height: 300px;
			margin: auto;
		}

		.task-preview {
			width: 300px;

			.task-preview__header {
				position: relative;
				padding-top: 10px;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 5px;
				margin-top: 10px;
				margin-bottom: 0;
				margin-left: 10px;
				margin-right: 10px;
				height: 40px;
			}

			.task-preview__header::before {
				position: absolute;
				top: -15px;
				bottom: -1px;
				left: -15px;
				right: -15px;
				content: "";
				z-index: -1;
				border-bottom: thin solid lightgray;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}

			.task-preview__header:hover::before {
				background-color: lightgray;
			}

			.task-preview__description.hidden {
				display: block;
				max-height: calc(100% - 60px);
				overflow-y: auto;
				margin: 0;
			}

			button {
				display: none;
			}
		}
	}

	#day__footer {
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: center;

		.new-task-button {
			width: fit-content;
			background-color: lawngreen;
			color: white;
			border: none;
			border-radius: 50%;
		}

		.new-task-button:hover {
			background-color: green;
		}
	}
}

#day-selector__back {
	margin-right: 5px;
}

.new-task-button {
	--elevation: 2;
	/* border: thin solid lightgray; */
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 10px;
	padding: 5px;
	background-color: var(--sfc-02-color);
	box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
	-web-kit-box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
	-moz-box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
}

.new-task-button:hover {
	background-color: var(--sfc-24-color);
}
