.task-preview {
	/* border: thin solid var(--border-color); */
	border-radius: 8px;
	padding: 5px;
	transition: all 0.5s ease;

	.task-preview__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.task-preview__identifier {
			display: flex;
			flex-direction: column;
			text-decoration: none;
			position: relative;
			cursor: pointer;
			flex-grow: 2;
			align-self: stretch;

			h3,
			h4 {
				margin: 0;
			}

			.task-preview__date {
				font-size: 0.8rem;
				font-weight: 400;
			}

			.task-preview__title {
				font-weight: 900;
			}

			.task-preview__subtitle {
				font-weight: 600;
			}
		}

		button {
			box-shadow: none;
			border: none;
			background-color: transparent;
			border-radius: 8px;
			vertical-align: middle;
			padding: 5px;

			span {
				display: block;
				margin: auto;
			}
		}

		button.task-complete,
		button.task-incomplete {
			padding: 0;
			height: 38px;
			width: 38px;
			border-radius: 50%;

			span {
				height: 24px;
				width: 24px;
				content: "";
				border-radius: 50%;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		button.task-complete:hover,
		button.task-incomplete:hover {
			background-color: transparent;

			span {
				background-color: var(--sfc-24-color);
			}
		}

		button.task-complete span {
			background-image: var(--ico-complete);
			background-color: var(--highlight-color);
		}

		button.task-incomplete span {
			border: 2px solid var(--sfc-24-color);
			/* border: 2px solid gray; */
		}

		button:hover {
			cursor: pointer;
			/* background-color: lightgray; */
			background-color: var(--sfc-24-color);
		}
	}

	.task-preview__description {
		transition: all 0.5s ease-in;
	}
}
