.task-preview {
  border: thin solid lightgrey;
  border-radius: 8px;
  padding: 5px;
  transition: height 0.5s ease;

  .task-preview__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .task-preview__identifier {
      display: flex;
      flex-direction: column;

      h3,
      h4 {
        margin: 0;
      }

      .task-preview__title {
      }

      .task-preview__subtitle {
      }
    }

    button {
    }
  }

  .task-preview__description {
  }
}
