#week {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 40px);
  width: calc(100vw - 50px);
  margin: 0 auto;
  padding: 10px;

  #week__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }

  #week__body {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    overflow: auto;
    padding-bottom: 15px;
  }
}

#week-selector__back {
  margin-right: 5px;
}

.nav-selector {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    /* border: 2px solid lightgray; */
    --elevation: 6;
    background-color: var(--sfc-06-color);
    box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
    -web-kit-box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
    -moz-box-shadow: var(--shadow1), var(--shadow2), var(--shadow3);
    border-radius: 5px;
    padding: 7px 15px;
    color: var(--text-color);
    text-decoration: none;
  }

  .nav-selector__prev {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .nav-selector__next {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  a:hover {
    background-color: var(--sfc-24-color);
  }

  span {
    padding: 5px;
  }
}

#plan-selector {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
